.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom */
.background-s-red {
  background-color: #822808;
}

.background-s-red:hover,
.background-s-red:focus {
  background-color: #b2370b;
}

.actions button {
  margin: 5px;
}

.toast-error {
  background-color: #822808;
}

.subscriptions {
  text-align: left;
}

.subscriptions .subscription {
  margin: 0 20px;
  padding: 20px;
}

.subscriptions .subscription:nth-child(odd) {
  background: rgba(242, 242, 242, 0.5);
}

@media only screen and (max-width: 480px) {
  .subscriptions .subscription button.btn-action {
    width: 100%;
  }
}

.subscription-id {
  color: #822808;
  font-weight: 700;
}

a {
  color: #822808;
}
