/*================ #Basic Styles ================*/
:root {
  --red: #802a19;
  --red-focus: #551c11;
  --yellow: #f6a52c;
  --yellow-focus: #e08c09;
}

/* Fix Position */
#PageContainer {
  --webkit-transform: none;
  transform: none;
}

.App {
  text-align: center;
  color: #000;
  /* helpers */
  /* subscriptions */
}

.App .background-s-red {
  background-color: var(--red);
}

.App .background-s-red:hover, .App .background-s-red:focus {
  background-color: var(--red-focus);
}

.App .actions button {
  margin: 5px;
  font-weight: 700;
}

@media only screen and (max-width: 468px) {
  .App .actions button {
    margin: 5px 0;
  }
}

.App .toast-error {
  background-color: var(--red);
}

.App a {
  color: var(--red);
}

.App .responsive-img {
  max-width: 100%;
  height: auto;
}

.App .divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
  margin: 2em 0;
}

.App .divider:last-of-type {
  display: none;
}

.App .text-bold {
  font-weight: 700;
}

.App .text-italic {
  font-style: italic;
}

.App .text-center {
  text-align: center;
}

.App .text-left {
  text-align: left;
}

.App .text-right {
  text-align: right;
}

.App .align-left {
  float: left;
}

.App .align-right {
  float: right;
}

.App .page-width {
  *zoom: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 55px;
}

@media only screen and (max-width: 749px) {
  .App .page-width {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.App .page-width::after {
  content: "";
  display: table;
  clear: both;
}

.App .subscriptions {
  text-align: left;
}

@media only screen and (max-width: 480px) {
  .App .subscriptions .subscription button.btn-action {
    width: 100%;
  }
}

.App .subscriptions .subscription .subscription-id {
  color: var(--red);
  font-weight: 700;
}

@-webkit-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
